@font-face{
	font-family: BebasNeue;
	src: url(fonts/BebasNeue.otf);
}

@font-face{
	font-family: Roboto-Thin;
	src: url(fonts/Roboto-Thin.ttf);
}

@media screen and (max-width: 100%;) {
}

/* General */
*{
	margin: 0;
	border-style: none;
	border-width: 0;
	padding: 0;
}
html{
	background-color: grey;
}

/* Pages General*/
section{
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.hide{
	display:none;
}
.show{
	display:block;
}

h1{
	font-family: BebasNeue;
	font-size: 10vmin;
	text-align: center;
	margin-top: 10vh;
	width: 86vw;
	margin-right: 7vw;
	margin-left: 7vw;
	color: white;
	-moz-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	filter:FlipH;
	display: block;
	z-index: 0;
	position: absolute;
}

h2{
	font-family: Roboto-Thin;
	text-transform: uppercase;
	font-size: 3.5vmin;
	text-align: center;
	margin-top: 56vh;
	width: 60vw;
	margin-right: 20vw;
	margin-left: 20vw;
	color: white;
	display: block;
	z-index: 0;
	position: absolute;
}

button{
	display: block;
	background-repeat: no-repeat;
	background-position: center; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: rgb(148,205,182);
	height: 10vh;
	width: 25vw;
	float: left;
	font-family: BebasNeue;
	font-size: 8vmin;
	color: white;
	-moz-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	filter:FlipH;
}

/* Arrow buttons */

nav#arrows{
	margin-top: 88vh;
}

#arrowLeft img{
	max-width: 10%;
	padding-left: 20vw;
	height: auto;
	display: inline;
	float:left;
}

#arrowRight img{
	max-width: 10%;
	padding-left: 40vw;
	height: auto;
	display: inline;
	float:left;
}

/* page 1 */

#start{
	position: fixed;
	margin-top: 60vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

/* page 3 */

#answerGeld{
	position: fixed;
	margin-top: 45vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

#answerGezondheid{
	position: fixed;
	margin-top: 58vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

#answerFamilie{
	position: fixed;
	margin-top: 71vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

/* page 4 */

#page4no {
	margin-top: 60vh;
	margin-left: 20vw;
}

#page4yes{
	margin-top: 60vh;
	margin-left: 10vw;
	margin-right: 20vw;
}

/* page 5 */

#answerOnvoldoende{
	position: fixed;
	margin-top: 45vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

#answerVoldoende{
	position: fixed;
	margin-top: 58vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

#answerGoed{
	position: fixed;
	margin-top: 71vh;
	width: 60vw;
	height: 10vh;
	margin-left: 20vw;
}

/* page 6 (opmaak van afbeelding percentage) */

/* page 9 */

#page9no {
	margin-top: 60vh;
	margin-left: 20vw;
}

#page9yes{
	margin-top: 60vh;
	margin-left: 10vw;
	margin-right: 20vw;
}

/* page 10 */

#answerVerdienste{
	position: fixed;
	padding-left:2vw; 
	padding-right:2vw;
	font-size: 6vmin;
	margin-top: 40vh;
	width: 60vw;
	height: 17vh;
	margin-left: 20vw;
}

#answerGelukkig{
	position: fixed;
	padding-left:2vw; 
	padding-right:2vw;
	font-size: 6vmin;
	margin-top: 60vh;
	width: 60vw;
	height: 17vh;
	margin-left: 20vw;
}

/* page 11 (opmaak van afbeelding percentage) */

/* page 14 */

#page14no {
	margin-top: 60vh;
	margin-left: 20vw;
}

#page14yes{
	margin-top: 60vh;
	margin-left: 10vw;
	margin-right: 20vw;
}

/* page 15 */

#page15no {
	margin-top: 60vh;
	margin-left: 20vw;
}

#page15yes{
	margin-top: 60vh;
	margin-left: 10vw;
	margin-right: 20vw;
}

/* page 16 (opmaak van afbeelding percentage) */
